@media all {
	
	.a-slider-negro a, a:active, a:visited{ text-decoration:none; color:#222222;}
	.a-slider-negro a:hover{ text-decoration: none; color:#E00000;}
	
	.a-slider-blanco a, a:active, a:visited{ text-decoration:none; color:#ffffff;}
	.a-slider-blanco a:hover{ text-decoration: none; color:#ffffff;}

	#contenedor_slider_principal {
		width: 100%;
		overflow: hidden;
	}
	#slider_principal {
		position: relative; 
		top: 0px; 
		left: 0px; 
	}

	#slider_principal div[u="slides"] {
		 style="cursor: 
		 move; position: absolute; 
		 overflow: hidden; 
		 left: 0px; 
		 top: 0px; 
	}

	#slider_principal div.diapositiva-1 {
		background-repeat: no-repeat;
		background-image: url("../banners/ban-dream-blanca-boj.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}

	#slider_principal div.diapositiva-3 {
		background-repeat: no-repeat;
		background-image: url("http://www.ascaso.com/banners/ban-dream-blanca-boj.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-4 {
		background-repeat: no-repeat;
		background-image: url("../banners/caldera001.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-5 {
		background-repeat: no-repeat;
		background-image: url("../banners/hostelco2016-2.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-5-eng {
		background-repeat: no-repeat;
		background-image: url("../banners/hostelco2016-2-eng.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-6 {
		background-repeat: no-repeat;
		background-image: url("../banners/barista-W&B.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-8 {
		background-repeat: no-repeat;
		background-image: url("../banners/verano11.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-8 .texto-nuevos {
		position: absolute;
		color: #ffffff;
		width: 100%;
		height: 100%;
		top: 45%;
		left: 0px;
		text-align: center;
		line-height: 50pt;
		font-size: 45pt; 
	}
	
	#slider_principal div.diapositiva-7 {
		background-repeat: no-repeat;
		background-image: url("../banners/barista-W&W.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-7 .texto-nuevos {
		position: absolute;
		color: #ffffff;
		width: 100%;
		height: 100%;
		top: 55%;
		left: 0px;
		text-align: center;
		line-height: 50pt;
		font-size: 45pt; 
	}
	
	#slider_principal div.diapositiva-6 .texto-nuevos {
		position: absolute;
		color: #ffffff;
		width: 100%;
		height: 100%;
		top: 60%;
		left: 0px;
		text-align: center;
		line-height: 50pt;
		font-size: 45pt; 
	}
	

	#slider_principal div.diapositiva-4 .texto-nuevos {
		position: absolute;
		color: #ffffff;
		width: 100%;
		height: 100%;
		top: 45%;
		left: 0px;
		text-align: center;
		line-height: 50pt;
		font-size: 45pt; 
	}

	
	
	#slider_principal div.diapositiva-1 .texto-nuevos {
		position: absolute;
		color: #ffffff;
		width: 550px;
		height: auto;
		top: 35%;
		left: 180px;
		text-align: left;
		line-height: 50pt;
		font-size: 45pt; 
	}
	
	#slider_principal div.diapositiva-9 {
		background-repeat: no-repeat;
		background-image: url("../banners/molinos.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-9-e {
		background-repeat: no-repeat;
		background-image: url("../banners/molinos-e.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-10 {
		background-repeat: no-repeat;
		background-image: url("../banners/hostelco2016.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-10 .texto-nuevos {
		position: absolute;
		color: #ffffff;
		width: 100%;
		height: 100%;
		top: 35%;
		left: 0px;
		text-align: center;
		line-height: 25pt;
		font-size: 25pt; 
	}
	
		#slider_principal div.diapositiva-11 {
		background-repeat: no-repeat;
		background-image: url("../banners/navidad-2017.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-12 {
		background-repeat: no-repeat;
		background-image: url("../banners/dream-LS.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	#slider_principal div.diapositiva-12 .texto-nuevos {
		position: absolute;
		color: #ffffff;
		width: auto;
		height: auto;
		top: 45%;
		left: 40%;
		text-align: left;
		line-height: 60pt;
		font-size: 50pt; 
	}

	#slider_principal div.diapositiva-13 {
		background-repeat: no-repeat;
		background-image: url("../banners/MICE2017.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		 
	}
	
	#slider_principal div.diapositiva-14 {
		background-repeat: no-repeat;
		background-image: url("../banners/bar-kap-LS-ESP.jpg");
		background-size: cover;
		background-position: left; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-14-e {
		background-repeat: no-repeat;
		background-image: url("../banners/bar-kap-LS-ENG.jpg");
		background-size: cover;
		background-position: left; 
		margin: auto;		
	}
	
		#slider_principal div.diapositiva-15 {
		background-repeat: no-repeat;
		background-image: url("../banners/DREAMS-ESP.jpg");
		background-size: cover;
		background-position: left; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-15-e {
		background-repeat: no-repeat;
		background-image: url("../banners/DREAMS-ENG.jpg");
		background-size: cover;
		background-position: left; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-16 {
		background-repeat: no-repeat;
		background-image: url("../banners/steel-pid-banner-en.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-16-e {
		background-repeat: no-repeat;
		background-image: url("../banners/steel-pid-banner-es.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-17 {
		background-repeat: no-repeat;
		background-image: url("../banners/budapest-eng.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-18 {
		background-repeat: no-repeat;
		background-image: url("../banners/dream-pid-banner.jpg");
		background-size: cover;
		background-position: left; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-19 {
		background-repeat: no-repeat;
		background-image: url("../banners/banner-dubai.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-19-e {
		background-repeat: no-repeat;
		background-image: url("../banners/banner-dubai-e.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-20 {
		background-repeat: no-repeat;
		background-image: url("../banners/banner-milan3-esp.jpg");
		background-size: cover;
		background-position: left; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-20-e {
		background-repeat: no-repeat;
		background-image: url("../banners/banner-milan3-eng.jpg");
		background-size: cover;
		background-position: left; 
		margin: auto;		
	}
	
	
	.div-a-full { height:100%; width:100%;
		}	
	
	/*  Bullet Navigator Skin Begin 
		Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html */

	/* jssor slider bullet navigator skin 21 css */
	/*
	.jssorb21 div           (normal)
	.jssorb21 div:hover     (normal mouseover)
	.jssorb21 .av           (active)
	.jssorb21 .av:hover     (active mouseover)
	.jssorb21 .dn           (mousedown)
	*/
	.jssorb21 {
		position: relative;
		
	}
	.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
		position: absolute;
		/* size of bullet elment */
		width: 19px;
		height: 19px;
		text-align: center;
		line-height: 19px;
		color: white;
		font-size: 12px;
		background: url(../img/b21.png) no-repeat;
		overflow: hidden;
		cursor: pointer;
	}
	.jssorb21 div { background-position: -5px -5px; }
	.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
	.jssorb21 .av { background-position: -65px -5px; }
	.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }

	#slider_principal div[u="navigator"] {
		top: 26px; 
		left: 6px;
	}
	/*  Bullet Navigator Skin End */

	/*  Arrow Navigator Skin Begin 
	/* jssor slider arrow navigator skin 21 css */
	/*
	.jssora21l                  (normal)
	.jssora21r                  (normal)
	.jssora21l:hover            (normal mouseover)
	.jssora21r:hover            (normal mouseover)
	.jssora21l.jssora21ldn      (mousedown)
	.jssora21r.jssora21rdn      (mousedown)
	*/
	.jssora21l, .jssora21r {
		display: block;
		position: absolute;
		/* size of arrow element */
		width: 55px;
		height: 55px;
		cursor: pointer;
		background: url(../img/a21.png) center center no-repeat;
		overflow: hidden;
	}
	.jssora21l { background-position: -3px -33px; }
	.jssora21r { background-position: -63px -33px; }
	.jssora21l:hover { background-position: -123px -33px; }
	.jssora21r:hover { background-position: -183px -33px; }
	.jssora21l.jssora21ldn { background-position: -243px -33px; }
	.jssora21r.jssora21rdn { background-position: -303px -33px; }

	#slider_principal span[u="arrowleft"] {
		top: 123px; 
		left: 8px; 
	}

	#slider_principal span[u="arrowright"] {
		 top: 123px; 
		 right: 8px;
	}
	/*  Arrow Navigator Skin End */
	
	
	#slider_bajar_contenido {
		position:relative; 
		text-align:center;
		top:-100px;
	}
	#slider_bajar_contenido .flecha_abajo {
		display: inline-block;
		position: relative;
		width: 55px;
		height: 55px;
		cursor: pointer;
		background: url(../img/abajo.png) center center no-repeat;
		overflow: hidden;
	}
	

}

@media all and (max-width : 900px) {
	
	#slider_principal div.diapositiva-4 {
		background-image: url("../banners/caldera001-mob.jpg");
		background-position: left;
	}
	#slider_principal div.diapositiva-4 .texto-nuevos {
		line-height: 40pt;
		font-size: 35pt; 
	}	
	
	#slider_principal div.diapositiva-5 {
		background-image: url("../banners/hostelco2016-2-mov.jpg");
		background-position: left;
	}
	
	#slider_principal div.diapositiva-6 {
		background-image: url("../banners/barista-W&B-mov.jpg");
		background-position: left;
	}
	
	#slider_principal div.diapositiva-7 {
		background-image: url("../banners/barista-W&W-mov.jpg");
		background-position: center;
	}
	#slider_principal div.diapositiva-7 .texto-nuevos {
		width: 60%;
		height: auto;
		top: 40%;
		left: 25%;
		text-align: center;
		line-height: 40pt;
		font-size: 35pt; 
	}
	
	#slider_principal div.diapositiva-8 {
		background-image: url("../banners/verano11-mov.jpg");
		background-position: left;
	}
	
	#slider_principal div.diapositiva-9 {
		background-image: url("../banners/molinos-mov.jpg");
		background-position: left;
	}
	#slider_principal div.diapositiva-9-e {
		background-image: url("../banners/molinos-e-mov.jpg");
		background-position: left;
	}
	
	#slider_principal div.diapositiva-10 {
		background-image: url("../banners/hostelco2016-mov.jpg");
		background-position: center;
	}
	#slider_principal div.diapositiva-10 .texto-nuevos {
		width: 80%;
		height: auto;
		top: 25%;
		left: 12%;
		text-align: center;
		line-height: 22pt;
		font-size: 18pt; 
	}
	
	#slider_principal div.diapositiva-1 .texto-nuevos {
		width: 60%;
		height: auto;
		top: 35%;
		left: 25%;
		text-align: left;
		line-height: 40pt;
		font-size: 35pt; 
	}	
	

	#slider_principal div.diapositiva-11 {
		background-image: url("../banners/navidad-2017-mov.jpg");
		background-position: center;
	}
	
	#slider_principal div.diapositiva-12 {
		background-image: url("../banners/dream-LS-mov.jpg");
		background-position: center;
	}
	
	
	#slider_principal div.diapositiva-12 .texto-nuevos {
		display: none;
		 
	}
	
	#slider_principal div.diapositiva-13 {
		background-image: url("../banners/MICE2017-mov.jpg");
		background-position: center;
	}
	
	#slider_principal div.diapositiva-15 {
		background-image: url("../banners/DREAMS-ESP-mov.jpg");
		background-position: left;
	}
	
	#slider_principal div.diapositiva-15-e {
		background-image: url("../banners/DREAMS-ENG-mov.jpg");
		background-position: left;
	}
	#slider_principal div.diapositiva-16 {
		background-repeat: no-repeat;
		background-image: url("../banners/steel-pid-banner-en-mov.jpg");
		background-size: cover;
		background-position: right; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-16-e {
		background-repeat: no-repeat;
		background-image: url("../banners/steel-pid-banner-es-mov.jpg");
		background-size: cover;
		background-position: right; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-17 {
		background-repeat: no-repeat;
		background-image: url("../banners/budapest-eng-mov.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-18 {
		background-repeat: no-repeat;
		background-image: url("../banners/dream-pid-banner-mov.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-19 {
		background-repeat: no-repeat;
		background-image: url("../banners/banner-dubai-mov.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-19-e {
		background-repeat: no-repeat;
		background-image: url("../banners/banner-dubai-mov.jpg");
		background-size: cover;
		background-position: center; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-20 {
		background-repeat: no-repeat;
		background-image: url("../banners/banner-milan3-esp-mov.jpg");
		background-size: cover;
		background-position: left; 
		margin: auto;		
	}
	
	#slider_principal div.diapositiva-20-e {
		background-repeat: no-repeat;
		background-image: url("../banners/banner-milan3-eng-mov.jpg");
		background-size: cover;
		background-position: left; 
		margin: auto;		
	}
	
	
}

@media all and (max-width : 700px) {
	#slider_principal div.diapositiva-4 .texto-nuevos {
		width: 60%;
		height: auto;
		top: 35%;
		left: 25%;
		text-align: left;
		line-height: 40pt;
		font-size: 35pt; 
	}	
}

/*@media all and (min-width : 320px) {
	#slider_principal div.diapositiva-4 .texto-nuevos {	
		width: 180px;
		height: 72px;
		top: 151px;
		left: 30px;
		text-align: left;
		line-height: 23pt;
		font-size: 20pt;
	}
}

@media all and (min-width : 480px) {
	#slider_principal div.diapositiva-4 .texto-nuevos {	
		width: 215px;
		height: 85px;
		top: 174px;
		left: 45px;
		text-align: left;
		line-height: 30pt;
		font-size: 23pt;
	}
}

@media all and (min-width : 768px) {
	#slider_principal div.diapositiva-4 .texto-nuevos {	
		width: 300px;
		height: 111px;
		top: 140px;
		left: 60px;
		text-align: left;
		line-height: 35pt;
		font-size: 32pt;
	}
}

@media all and (min-width : 992px) {
	#slider_principal div.diapositiva-4 .texto-nuevos {
		width: 385px;
		height: 135px;
		top: 150px;
		left: 95px;
		text-align: left;
		line-height: 45pt;
		font-size: 40pt;
	}		
}
*/

